header{
  height: 100px;
  width: 100%;
  background-color: red;
}
.logo{
  margin: 10px 0px 10px 10px;
  width: 25%;
  height: 80px;
  background-color: purple;
  float: left;
  z-index: 10;
}
nav{
  margin: 10px 10px 10px 0px;
  width: 73.5%;
  height: 80px;
  background-color: black;
  float: right;
  z-index: 10;
}
aside{
  height: 500px;
  width:25%;
  background-color: orange;
  float: left;
}
main{
  height: 500px;
  width: 75%;
  background-color: blue;
  float: right;
}
footer{
  height: 100px;
  width: 100%;
  background-color: green;
  clear: both;
}