header{
  height: 100px;
  width: 100%;
  background-color: orange;
}

.background{
  height: 600px;
  width: 100%;
  background-color: gray;
  overflow: auto;
}
div .topRow{
  height:50%;
  overflow: auto;
}

div .widget1{
  background-color: red;
  height:225px;
  width: 225px;
  margin: 50px 10px 10px 25px;
  float: left;
}

div .widget2{
  background-color: red;
  height:225px;
  width: 225px;
  margin: 50px 10px 10px 25px;
  float: left;
}

div .topRow .widget2 .sub-widget{
  background-color: white;
  height: 50px;
  width: 175px;
  margin: 50px 10px 70px 25px;
}

div .widgetBlue1{
  background-color: blue;
  height:225px;
  width: 225px;
  margin: 50px 10px 10px 25px;
  float: left;
}

div .gadget1{
  background-color: purple;
  height:225px;
  width: 225px;
  margin: 50px 10px 10px 25px;
  float: left;
  border-radius: 25px;
}

div .widgetBlue2{
  background-color: blue;
  height:225px;
  width: 225px;
  margin: 50px 10px 10px 25px;
  float: left;
}

div .bottomRow{
  height:50%;
  overflow: auto;
}

div .widget3{
  background-color: red;
  height:225px;
  width: 225px;
  margin: 25px 10px 25px 25px;
  float: left;
}

div .gadgetBlue{
  background-color: black;
  height:225px;
  width: 225px;
  margin: 25px 10px 10px 25px;
  float: left;
  border-radius: 25px;
}

div .widget4{
  background-color: red;
  height:225px;
  width: 225px;
  margin: 25px 10px 10px 25px;
  float: left;
}

div .gadget2{
  background-color: purple;
  height:225px;
  width: 225px;
  margin: 25px 10px 10px 25px;
  float: left;
  border-radius: 25px;
}

div .widget5{
  background-color: red;
  height:225px;
  width: 225px;
  margin: 25px 25px 10px 25px;
  float: left;
}


.footer{
  height: 100px;
  width: 100%;
  background-color: green;
  clear: both;
}