header{
  height: 100px;
  width: 100%;
  background-color: red;
}
aside{
  height: 500px;
  width:25%;
  background-color: orange;
  float: left;
}
.content{
  height: 500px;
  width: 75%;
  background-color: blue;
  float: right;
}
footer{
  height: 100px;
  width: 100%;
  background-color: green;
  clear: both;
}